<h2><img style="width: 80px; height: 80px;" alt="WUS" title="WUS" src="/images/WUS_logo.jpg" align="middle">  Whatever You Say v1.0</h2>

<div align=right>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path %>
<% end %><p>

</div>

<h1>Editing message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </p>
  <p>
    <%= f.label :chat_id %><br />
    <%= f.text_field :chat_id %>
  </p>
  <p>
    <%= f.label :source_language_id %><br />
    <%= f.text_field :source_language_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
