<br>
<center>
<h2>Editing Message</h2>

<div class="centerFieldset">
<fieldset style="width: 400px">
<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </p>
  <p>
    <%= f.label :chat_id %><br />
    <%= f.text_field :chat_id %>
  </p>
  <p>
    <%= f.label :source_language_id %><br />
    <%= f.text_field :source_language_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div align=right>
<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
</div>
</center>