<h2><img style="width: 80px; height: 80px;" alt="WUS" title="WUS" src="/images/WUS_logo.jpg" align="middle">  Whatever You Say v1.0</h2>

<div align=right>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path %>
<% end %><p>

</div>

<p>
  <b>Sender:</b>
  <%=h @message.sender_id %>
</p>

<p>
  <b>Chat:</b>
  <%=h @message.chat_id %>
</p>

<p>
  <b>Source language:</b>
  <%=h @message.source_language_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
