<br>
<center>
<h2>Message Info</h2>
<div class="centerFieldset">
<fieldset style="width: 400px">
<p>
  <b>Sender:</b>
  <%=h @message.sender_id %>
</p>

<p>
  <b>Chat:</b>
  <%=h @message.chat_id %>
</p>

<p>
  <b>Source language:</b>
  <%=h @message.source_language_id %>
</p>


<div align='right'>
<%= link_to 'Edit', edit_message_path(@message) %>
| <%= link_to 'Back', messages_path %>
</div>

</fieldset>
</div>
</center>