<center>
<h2>Editing profile</h2>

<div class="centerFieldset">
<fieldset style="width: 400px">

<%= error_messages_for :object => [@profile, @profile.user] %>
<% form_for @profile do |f| %>
	<p>
		Login: 
		<%= @profile.user.login %>
	</p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <% fields_for :user, @profile.user do |ff| %>
    <%= ff.label "Email" %><br />
    <%= ff.text_field :email %>
    <% end %>
  </p>
  <p>
    <%= f.label "Language" %><br />
    <%= f.select :language_id, Language.languages_for_select %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div align=right>
<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
</div>
</center>



</div>


