<center>
<h2>Editing profile</h2>

<div class="centerFieldset">
<fieldset style="width: 400px">


<% form_for(@profile) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div align=right>
<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
</div>
</center>



</div>


