<br>
<center>
<h2>Listing profiles</h2>

<table>
  <tr>
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Language ID</th>
  </tr>

<% for profile in @profiles %>
  <tr>
    <td><%= profile.user.nil? ? "Profile is an orphan." : profile.user.login %></td>
    <td><%=h profile.first_name %></td>
    <td><%=h profile.last_name %></td>
    <td><%=h profile.language_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  
<% end %>

<tr>
<td><%= link_to 'New profile', new_profile_path %></td>
</tr>
</table>

<br />


</center>
