<center>

<div class="centerFieldset">
<fieldset style="width: 400px">
<p>
  <b>User ID:</b>
  <%=h @profile.user_id %>
</p>
<p>
  <b>Username:</b>
<%= User.find(@profile.user_id).login %>
</p>
<p>
  <b>First name:</b>
  <%=h @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @profile.last_name %>
</p>

<p>
  <b>Email:</b>
<%= User.find(@profile.user_id).email %>
</p>

<p>
  <b>Language:</b>
  <%=h @profile.language.name %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %>
<% if @user.has_role?(:admin) %>
 | <%= link_to 'Back', profiles_path %>
<% end %>
</div>
</center>
