<div id="content">
  <div id="inner">
    <div class="left float-l">
      <h2>WUS News</h2>
      <div style="padding-top:50px; height: 100px;">blah blah blah </div>
      
      <h2>WUS Features</h2>
      <div style="padding-top:5px;" height: 50px;">
      <ul>
      <li>> on-the-fly translation of over 40+ languages</li>
      <li>> web based + real time chat</li>
      <li>> Archived chat logs</li>
      <li>> It's FREE!</li>
      </ul>
      </div>
      <br/>
    </div>
    <div class="right float-r">
      <div id="side">
        <div id="top">
          <h2 class="style1">Login</h2>
          <p>
			<% form_tag session_path do %>
			<fieldset style="border:0;">
			<font color="#FFFFFF">Username</font>
			<center><%= text_field_tag 'login', @login %></center>
			
			<font color="#FFFFFF">Password</font>
			<center><%= password_field_tag 'password', nil %></center><br>
			
			<center><font color="#000000">Remember Me</font>
			<%= check_box_tag 'remember_me', '1', @remember_me %></center><br>
			
			<center>
			<div class="buttons">
			<%= submit_tag 'Login' %>
			<%= link_to 'Forgotten Password', forgot_password_path %>
			</center>
			</fieldset>
			
			<% end -%>
			
			</p>
        </div>
       
      </div>
    </div>
  </div>
</div>
<!-- /content -->
