<h1>New buddy_group</h1>

<% form_for(@buddy_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', buddy_groups_path %>