<br>
<center>
<h2>New Buddy</h2>
<div class="centerFieldset">
<fieldset style="width: 400px">
<% form_for(@buddy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :buddy_group_id %><br />
    <%= collection_select(:buddy, :buddy_group_id, @user.buddy_groups, "id", "name") %>
  </p>
  <p>
    <%= label_tag :user %><br />
    <%= text_field_tag :user %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dashboard_path %>
</div>
</fieldset>
</center>