<br>
<center>
<h2>Languages List</h2><br>
<table align="center" width="500" bgcolor="#CCCCCC">

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Short Name</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%=h language.id %></td>
    <td><%=h language.name %></td>
    <td><%=h language.short_name %></td>
    <td><%= link_to 'Show', language %></td>
    <td><%= link_to 'Edit', edit_language_path(language) %></td>
    <td><%= link_to 'Destroy', language, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New language', new_language_path %>
</center>