<h2><img style="width: 80px; height: 80px;" alt="WUS" title="WUS" src="/images/WUS_logo.jpg" align="middle">  Whatever You Say v1.0</h2>

<div align=right>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path %>
<% end %><p>

</div>


<center>
<h2>Edit User Profile</h2>

<div class="centerFieldset"
<fieldset style="width: 400px">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<div align=right>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
</fieldset>

</center>
</div>