<br>
<center>

<h2>All Users</h2>


<table align="center" width="500" bgcolor="#CCCCCC">
  <tr>
    <th>Username</th>
	<th>Email</th>

  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
	<td><%=h user.email %></td>


    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />
<%= link_to 'New User', new_user_path %>
</center>