<% @user.password = @user.password_confirmation = nil %>
<br>
<center>
<%= title "Signup", :h2 %>


<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset style="width: 400px;" align="right">
		<legend>Your Details</legend>
		<ol>
			
				<%= f.label :login, 'Username' %>
				<%= f.text_field :login %><br>
				
			
				<%= f.label :password %>
				<%= f.password_field :password %><br>
			
			
				<%= f.label :password_confirmation, 'Confirm Password' %>
				<%= f.password_field :password_confirmation %><br>
			
			
				<%= f.label :email %>
				<%= f.text_field :email %><br>

				<div class="buttons" align=right>
				<br><%= submit_tag 'Sign up' %>
				</div>
			
		</ol>
	
	
	
<!-- #comment out OpenID section
	
	<fieldset>
		<legend>Signup with OpenID</legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
-->

<% end %>
</center>
