<h1>Editing chat</h1>

<% form_for(@chat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :receiver_id %><br />
    <%= f.text_field :receiver_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @chat %> |
<%= link_to 'Back', chats_path %>
