<h1>New chat</h1>

<% form_for(@chat) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.label :receiver_id %><br />
	<%= collection_select("chat", "receiver_id", User.find(:all).reject{ |user| user.id == session[:user_id] }, "id", "login") %>
  <%= f.submit "Start" %>
  </p>
<% end %>

<%= link_to 'Back', chats_path %>
