<h2><img style="width: 80px; height: 80px;" alt="WUS" title="WUS" src="/images/WUS_logo.jpg" align="middle">  Whatever You Say v1.0</h2>

<div align=right>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path %>
<% end %><p>

</div>


<h1>New chat</h1>

<% form_for(@chat) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.label :receiver_id %><br />
	<%= collection_select("chat", "receiver_id", User.find(:all).reject{ |user| user.id == session[:user_id] }, "id", "login") %>
  <%= f.submit "Start" %>
  </p>
<% end %>

<%= link_to 'Back', chats_path %>
