<br>
<center>
<%= title "Forgot Your Password?", :h2 %><br>

<% form_for @password do |f| %>
  <%= f.error_messages %>

<div class="centerFieldset"
<fieldset style="width: 350px">

		<legend>Enter Your Email Address</legend>
		<ol>			
		    
		    <%= f.label :email %>
		    <%= f.text_field :email %><p>
		
			<div class="buttons">
		  	<%= f.submit "Submit" %>
			</div>
			
		</ol>
	</fieldset>

<% end %>
</div>
</fieldset>

</center>