<center>
<p>	
<img style="width: 80px; height: 80px;" alt="WUS" title="WUS" src="/images/WUS_logo.jpg">
</p>
<%= title "Whatever You Say v1.0", :h2 %>

<%= title "Forgot Your Password?", :h2 %>

<% form_for @password do |f| %>
  <%= f.error_messages %>

<div class="centerFieldset"
<fieldset style="width: 350px">

		<legend>Enter Your Email Address</legend>
		<ol>			
		    
		    <%= f.label :email %>
		    <%= f.text_field :email %><p>
		
			<div class="buttons">
		  	<%= f.submit "Submit" %>
			</div>
			
		</ol>
	</fieldset>

<% end %>
</div>
</fieldset>

</center>