<br>
<center>
<%= title "Reset Your Password", :h2 %><br>
<% form_for :user, :url => { :action => 'update_after_forgetting' } do |f| %>
  <%= f.error_messages %>


<fieldset style="width: 450px">

		<legend align="center">Please enter a new password and confirm it.</legend>
		<div align="right">
		<ol>
			<li>
		    <%= f.label :password %>
		    <%= f.password_field :password %>
			</li>
			<li>
		    <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation %>
			</li>
		</ol>
		</div>

	<%= hidden_field_tag :reset_code, params[:reset_code] %>
	<div class="buttons">
    <%= f.submit "Submit" %>
</fieldset>

<% end %>
</center>