<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WUS Chats: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'base', 'scaffold' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<%= render :partial => 'shared/wus_header' %>
  <% if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 6000)
  </script>

	<%= yield %>

</body>
</html>
